<!--
  Generated template for the EditTodoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Edit Todo</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="confirmRemove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="todo.title" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input [(ngModel)]="todo.description" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Is Done</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="todo.isDone"></ion-checkbox>
    </ion-item>

  </ion-list>

  <button ion-button full color="twitter" (click)="save()">Save</button>
</ion-content>

<ion-footer>


</ion-footer>